.mat-list-item-avatar {
  .mat-list-avatar {
    height: 56px;
    margin: 0 0 0 12px;
    width: 56px;
  }

  .mat-list-icon-avatar {
    font-size: 100px !important;
    height: 100px !important;
    width: 100px !important;
  }
}

.mat-divider-horizontal, .mat-subheader {
  margin-top: 8px !important;
}
