<form (ngSubmit)="onSubmit($event)"
      [attr.fxFlex]="flex?.default"
      [formGroup]="form"
      [fxLayout]="flexLayout?.default"
      [fxLayoutAlign]="flexLayoutAlign?.default"
      [fxLayoutGap]="flexLayoutGap?.default"
      [ngClass]="classes"
      class="dynamic-form"
      role="form"
>
	<ng-container
					*ngFor="let config of configs"
					[config]="config"
					[control]="form.get(config.formControlName)"
					[group]="form"
					appDynamicFormField
	>
	</ng-container>
	<ng-content></ng-content>
</form>
