<h1 matDialogTitle>Edit profile</h1>
<mat-divider class="mat-title-divider"></mat-divider>
<mat-dialog-content fxLayout="column">
	<div class="avatar-container" fxFlex>
		<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
			<img class="avatar-img" [src]="avatarUrl" alt="User avatar">
			<button color="accent" [disabled]="isUploading" mat-raised-button type="button" (click)="onChangeAvatar()">
				CHANGE AVATAR
			</button>
			<input #fileInput fxHide type="file" (change)="onFileInputChange($event)" />
		</div>
	</div>
	<mat-divider></mat-divider>
	<app-dynamic-form (created)="onFormCreated($event)" (valueChange)="onFormValueChanges($event)"
	                  [configs]="formConfigs" [flexLayout]="{default: 'column'}"
	                  [initialData]="initialFormData">
	</app-dynamic-form>
</mat-dialog-content>
<mat-divider class="mat-actions-divider"></mat-divider>
<mat-dialog-actions align="start">
	<button [disabled]="isUploading" mat-button matDialogClose type="button">CANCEL
	</button>
	<span fxFlex></span>
	<button (click)="onSubmit()" [disabled]="isUploading" color="accent" mat-button type="submit">
		SAVE
	</button>
</mat-dialog-actions>