.loading-dialog {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  width: 100%;
}